body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
    
}

.container{
    background: #222;
    color: #fff;
    background-size: cover;
    background-position: center;
    max-width: 400px;
    height: 30vh;
    margin:auto;
    /* position: relative; */
    /* left: 300px; */
    margin-top: 30px;
    width: 30%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    margin-top: 20px;
    width: 20%;
    border: none;
    border-color:#ef9191;
    align-items: center;
    text-align: center;
    background-color: #ef9191;
    display:inline-block;
    align-items: center;
    /* display:inline-block; */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    
}

.button :hover {
    background-color: #ecbcbc;
    color:#222;
    border: 2px solid #ef9191;
}

.white {
    border: 1px solid #ef9191;
    background-color: #ef9191;
}
